/* Imports */
@font-face {
    font-family: nescontroller;
    src: url('../fonts/NES_Controller_MrShrike.ttf');
}

/* Reset margin and padding on body */
html, body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

#scoreboard {
    width: 150px;
    height: 200px;
    background-color: rgba(40, 1, 1, 0.5);
    border: 3px solid red;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: white;
    position: absolute;
    top: 10px;
    right: 2%;
    font-family: nescontroller;
    font-size: 25px;
}

/* Playingfield styling */
#playfield {
    width: 100%;
    height: 100%;

    background-color: rgb(34, 83, 34) ;

    display: flex;

    position: relative;
}

/* Player container */
#player-container {
    width: 100%;
    height: 100%;

    display: flex;

    position: absolute;

    justify-content: center;
    align-items: center;
}

/* Styling for the player */
#player {
    width: 100px;
    height: 100px;

    transition: all .25s ease-in-out;

    background-image: url('../img/Player_CT.svg');
    background-size: cover;
}
/* 
#bullet {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    visibility: hidden;
}
  
.shooting {
    visibility: visible;
    animation: move-bullet 1s linear infinite;
}